.container
    cursor: grab
    overflow: hidden
    max-width: 100%
    background-color: var(--main-bg-color)
    box-shadow: inset 0px 0px 80px 8px #FFFFFF
    .gesture
        width: 30px
        position: absolute
        z-index: 1
        background-color: var(--main-bg-color)
        border-radius: 50px
        margin-top: 20vh
        margin-left: -15px
        box-shadow: 3px 3px 30px rgba(252, 253, 248, 0.5)
        background: rgba(252, 253, 248, 0.7)
        backdrop-filter: blur(3px)
        -webkit-backdrop-filter: blur(3px)

.inner
    display: flex
    align-items: center
    min-height: 200px
    min-width: 400px

.item
    min-height: 200px
    min-width: 400px
    padding: 14px

.item img
    width: 100%
    border-radius: 12px
    pointer-events: none
    object-fit: cover
